
<div class="content-form">
    <h3>Bir Yorum Yapın</h3>


    <form method="post">
        <input type="hidden" placeholder="Id" name="BlogId" required value=" @ViewBag.deger" />
        <input type="text" placeholder="Kullanici Adi" name="KullaniciAdi" required />
        <input type="text" placeholder="Email" required name="Mail" />
        <input type="text" placeholder="Yorum" name="Yorum" required />
        <input  type="submit" value="Gonder" />
    </form>
</div>


